<section id="slideshow">
    <div class="container">
        <div class="c_slider"></div>
        <div class="slider">
            <figure>
                <img src="@routes.Assets.at("images/slides/1.jpg")" alt="" width="704" height="200" />
                <figcaption>Slide 1</figcaption>
            </figure><!--
            --><figure>
                <img src="@routes.Assets.at("images/slides/2.jpg")" alt="" width="704" height="200" />
                <figcaption>Slide 2</figcaption>
            </figure><!--
            --><figure>
                <img src="@routes.Assets.at("images/slides/3.jpg")" alt="" width="704" height="200" />
                <figcaption>Slide 3</figcaption>
            </figure><!--
            --><figure>
                <img src="@routes.Assets.at("images/slides/4.jpg")" alt="" width="704" height="200" />
                <figcaption>Slide 4</figcaption>
            </figure>
        </div>
    </div>
</section>